/*
  global less
 */
@import "./theme";

html, body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: @base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: fade(#F8F8F8, 75%);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#app {
  /*
  header
   */
  .vux-header {
    height: 120px;
    .vux-header-left {
      top: 35px;
      .vux-header-back {
        font-size: 50px;
        line-height: 50px;
        padding-left: 40px;
      }
      .left-arrow {
        width: 50px;
        height: 50px;
        position: static;
        &:before {
          width: 30px;
          height: 30px;
          content: "";
        }
      }
    }
    .vux-header-title {
      height: 120px;
      line-height: 120px;
      font-size: 50px;
    }
  }

  /*  search  */
  .vux-search-box {

  }

  /*  cells  */
  .weui-cells {
    line-height: @base-cell-height;
    .weui-icon-clear {
      font-size: @input-height;
      color: fade(@primary-text-color, 45%);
    }
  }

  /*  input  */
  .weui-input {
    height: @base-cell-height;
    font-size: @base-font-size;
    color: @text-color-1;
    padding: 0 60px;
    box-sizing: border-box;
  }
  /* textarea */
  .weui-textarea {
    font-size: @base-font-size;
    color: @text-color-1;
    line-height: 70px;
    padding: 0 60px;
    box-sizing: border-box;
  }

  /*  button  */
  .weui-btn {
    &:after {
      border: none;
    }
  }
  .radius-button {
    border-radius: 100px;
  }

  /*  vux-check-icon  */
  .vux-check-icon {
    i {
      font-size: @base-font-size;
      font-weight: 700;
    }
    span {
      color: #959595;
    }
  }
  /*  tabbar  */
  .home-screen {
    .weui-tabbar {
      background: @base-background-color;
      line-height: 144px;
      &:before {
        border-top-color: #c3c3c3;
      }
      .tab-bar-icon {
        height: 78px;
        width: 78px;
        /*padding: 28px 0;*/
      }
    }
  }
  /*  alert  */
  .vux-alert {
    .weui-mask {
      background:rgba(28,28,28,0.4);
    }
    .weui-dialog {
      max-width: 940px;
      border-radius:32px;
      box-shadow:0 8px 20px 0 rgba(0,0,0,0.07);
      .weui-dialog__title {
        margin-top: 70px;
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 70px;
        color: @primary-text-color;
      }
      .weui-dialog__bd {
        min-height: 0;
        font-size: 44px;
        color: @text-color-1;
      }
      .weui-dialog__ft {
        margin-top: 70px;
        line-height: 150px;
        .weui-dialog__btn {
          font-size: 56px;
          color: @primary-color;
        }
      }
    }
  }

  /* wallet loading */
  //.wallet-loading {
  //  font-size: @base-font-size;
  //  color: @primary-color;
  //  line-height: 130px;
  //  animation: toggleShowHide 1s linear infinite alternate;
  //}

  .game-lobby {
    .vux-tab-container {
      height: auto;
      overflow: visible;
      .vux-tab {
        height: auto;
        overflow: visible;
        background: transparent;
        .vux-tab-item {
          background: transparent;
          color: #5f5f5f;
          font-size: 46px;
          line-height: 70px;
        }
        .vux-tab-selected {
          color: @primary-color;
          border-bottom: none !important;
        }
        .vux-tab-ink-bar {
          top: 80px;
          span {
            width: 30px  !important;
            height: 8px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

/*
resest
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: middle;
}

ol, ul, li {
  list-style: none;
}

input::-webkit-input-placeholder {
  color: @text-color-3;
  // webkit
}

input:-moz-placeholder {
  color: @text-color-3;
  // moz4-18
}

input::-moz-placeholder {
  color: @text-color-3;
  // moz19+
}

input::-ms-input-placeholder {
  color: @text-color-3;
  // ie 10+
}

/*
  margin
 */
.mg-40 {
  margin: 40px;
}

//top
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

//right
.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

//bottom
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

//left
.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

/*
  padding
 */
.pd-40 {
  padding: 40px;
}

//top
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

//right
.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

//bottom
.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

//left
.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

/*
align
 */
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

/*
float
 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/*
clear float
 */
.cf:after {

}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*
  box
 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*
position
 */
.pos-r {
  position: relative;
}

/*
text color
 */
.text-c1 {
  color: @text-color-1;
}

.text-c2 {
  color: @text-color-2;
}

.text-c3 {
  color: @text-color-3;
}

/*
base box-shadow
 */
.base-shadow {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.07);
}

/*
文字溢出不换行，显示省略号
 */
.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
warning
 */
.warning-bg {
  background: rgba(223, 145, 96, 0.11);;
}

.warning-text {
  color: #DF9160;
  font-size: 38px;
}

.danger-text {
  color: #D46F6E;
  font-size: 42px;
}


/*
  animations
 */

//@keyframes toggleShowHide {
//  0% {
//    opacity: 1;
//  }
//  50% {
//    opacity: 0.2;
//  }
//  100% {
//    opacity: 1;
//  }
//}

