/*
  vux全局配置文件
 */

/*
全局变量
 */
@primary-color:#4769F5;
@theme-color:@primary-color;
@primary-text-color:#1C1C1C;
@text-color-1:fade(@primary-text-color, 70%);
@text-color-2:fade(@primary-text-color, 50%);
@text-color-3:fade(@primary-text-color, 34%);
@title-color:#FFFFFF;
@base-background-color:#FFFFFF;
@supplement-color1:#5BB473;
@supplement-color2:#D45E5D;
@supplement-color3:#E38E58;

@input-height:48px;
@base-font-size:48px;
@base-cell-height:120px;
@base-cel-width:1000px;
@base-radius:32px;

/*
  按钮
 */
@button-global-border-radius:36px;
@button-global-font-size:56px;
@button-global-height:130px;
@button-global-font-color:@title-color;
@button-global-active-font-color:fade(@title-color, 80%);
@button-global-disabled-font-color:fade(@title-color, 80%);

@button-default-bg-color: #ffffff;
@button-default-active-bg-color:fade(@primary-text-color, 9%);
@button-default-font-color:@primary-color;
@button-default-active-font-color:fade(@primary-color, 80%);

@button-primary-bg-color:@primary-color;
@button-primary-active-bg-color:fade(@primary-color, 85%);


/*
 cell
 */
@cell-label-color:@primary-text-color;
@cell-font-size:@base-font-size;


/*
顶部返回条
 */
@header-background-color: #2E79FE;
@header-title-color:#ffffff;
@header-text-color:#ffffff;
@header-arrow-color:#ffffff;

